<div class="jumbotron mt-4">
  <h1 class="display-4">Nobody's perfect!</h1>
  <app-player-name></app-player-name>
</div>


<ng-container [ngSwitch]="state$ | async">
  <app-player-idle *ngSwitchCase="0"></app-player-idle>
  <app-player-give-answer *ngSwitchCase="1"></app-player-give-answer>
  <app-player-wait-results *ngSwitchCase="2"></app-player-wait-results>
  <app-player-choose-answer *ngSwitchCase="3"></app-player-choose-answer>
  <app-player-show-results-full [anonym]="true" *ngSwitchCase="4"></app-player-show-results-full>
  <app-player-show-results-full *ngSwitchCase="5"></app-player-show-results-full>
  <app-score-table *ngSwitchCase="6"></app-score-table>
</ng-container>
