<h1>
  Moderator
  <span class="badge badge-secondary">{{ state$ | async }}</span>
</h1>



<div class="mb-2">
  <button type="button" (click)="reset()" class="btn btn-danger mr-2">Reset (0)</button>
  <button type="button" (click)="setState(0)" class="btn btn-warning">Idle (0)</button>
</div>

<app-moderator-question></app-moderator-question>

<div class="mt-5 mb-2">
  <button type="button" (click)="setState(1)" class="btn btn-success mr-2">Frage zeigen und Antworteingabe öffnen (1)</button>
</div>

<app-moderator-own-answer></app-moderator-own-answer>
<div *ngIf="(state$ | async) === 1">
  <strong>Anzahl Antworten:</strong> {{ (answers$ | async)?.length }}

  <pre>{{ answers$ | async | json }}</pre>
</div>

<div class="mb-2 mt-2">
  <button type="button" (click)="setState(2)" class="btn btn-success mr-2">Antworteingabe schließen (2)</button>
</div>

<app-moderator-answers-edit *ngIf="(state$ | async) === 2"></app-moderator-answers-edit>

<div class="mb-2">
  <button type="button" (click)="setState(3)" class="btn btn-success mr-2">Antworten zeigen und Auswahl öffnen (3)</button>
</div>

<div class="mb-2 mt-4">
  <button type="button" (click)="setState(4)" class="btn btn-secondary mr-2">Ergebnisse zeigen ANONYM (4)</button>
</div>

<div class="mb-2">
  <button type="button" (click)="setState(5)" class="btn btn-warning mr-2">Ergebnisse zeigen KOMPLETT (5)</button>
</div>

<div class="bg-light p-3">
  <div class="mb-2">
    <strong>Antworten gewählt:</strong> {{ numberOfChosens$ | async }}
  </div>

  <div><strong>Antworten</strong></div>
  <pre>{{ answers$ | async | json }}</pre>
</div>
