<h3 class="mt-5">{{ question$ | async }}</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <input type="text" class="form-control" formControlName="answer" placeholder="Antwort eingeben">
  </div>

  <button class="btn btn-primary" type="submit">Antwort abschicken</button>
</form>

<div *ngIf="myAnswerText$ | async as myAnswerText" class="mt-2">
  <strong>Meine Antwort:</strong> {{ myAnswerText }}
</div>


<div class="text-muted small mt-4">
  Bitte gib deine Lösung für die Frage ein. Sie sollte so überzeugend sein, dass die anderen Spieler nachher darauf tippen.
  Gib nicht die richtige Antwort ein, sondern denke dir bewusst etwas falsches und überzeugendes aus.
</div>
